{% extends "base.html" %}
{% block content %}

<main>

<div class="vertical-align-middle center container">
    <div class="card-panel hoverable" id='main-card'>
        <h1 class="animated jackInTheBox header" id='dashbots'>Blox Shop Modmail</h1>
        <h5 class="header col s12 light grey-text">This site is used to display Modmail log entries for Blox Shop.</h5>
        <br>
        <div class="row center">
            <a href="https://discord.gg/--" class="btn waves-effect my-button">Blox Shop Comms</a>

            <br>
        </div>
    </div>
</div>

</main>

{% endblock %}
